@charset "utf-8";
@use "variable";

@use "btn";
@use "mediaQuery" as *;
/* ------------
contact ページ
------------- */

.inquire{
    padding:135px 0;

    @include media(md){
        margin-top: 40px;
    }

    &__inner{
        display: block;
        max-width: 720px;
        margin: 0 auto;
        padding: 0 66px;

        @include media(md){
            padding-right: 4.26vw;
            padding-left: 4.26vw;
        }
    }
    
    &__title{
        margin-bottom: 34px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: variable.$dusty-pink;

        @include media(md){
            margin-bottom: 39px;
            font-size: 15px
        }
    }

    &__img{
        width: 21%;
        margin: 0 auto;
        margin-bottom: 24px;

        @include media(md){
            width: 40%;
            margin-bottom: 37px;
        }
    }
        img{
        width: 100%;
    }

    &__message{
        text-align: center;
        line-height: 1.5;
        margin-bottom: 80px;

        @include media(md){
            font-size: 14px
        }
    }

    &__item{
        display:block;
        margin: 0 auto;
        margin-bottom: 40px;

        label{
        text-align: left;
        }
        .required{
        color: variable.$dusty-pink;
        }
        input{
            margin-top: 12px;
            width: 100%;
            height: 43px;
            padding: 0 10px;
            border-radius: 10px;
            border: 1px solid variable.$pink-beige;
            background: variable.$cream-beige;

            @include media(md){
                width: 94%;
            }

            &:focus {
                outline: none;
                border:2px solid variable.$peach-fuzz;
                }
        }
    }

    textarea#comment{
        margin-top: 12px;
        padding: 15px;
        width: 100%;
        height: 111px;
        border-radius: 10px;
        border: 1px solid variable.$pink-beige;
        background: variable.$cream-beige;

        @include media(md){
            width: 90%;
        }

        &:focus {
            outline: none;
            border:2px solid variable.$peach-fuzz;
        }
    }
}

