@charset "utf-8";
@use "variable";
@use "btn";
@use "mediaQuery" as *;


/* --------
ヘッダー
-------- */
.header {
    top: 0px;
    a:hover {
        opacity: 0.5;
        }
    // width: 100%;
    // position: fixed; 

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        padding: 0 5%;
        background-color: #FFF7EF;

        @include media(xl){
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 63px;
            z-index: 5;
        }
    }



    &__logo{
        img {
            width: 148px;

            @include media(xl){
                width: 121px;
                padding-top: 5px;
                position: relative;
                z-index: 99;
            }
        }
    }

    &__nav{
        display: flex;
        align-items: center;

        @include media(xl){
            display: none;
        }
    }
    
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
    }

    &__item {
        padding-left: 36px;
        text-align: center;

        a {
            display: block;
            margin: 0 auto;
            color: #522A28;
            padding: 8px 10px 8px 10px;
            line-height: 1.5;
            text-decoration: none;
        }
    }

    .header__item-logo{
        opacity: 0;
    }

    &__title-ja {
        font-size: 11px; 
        display: block;
    }

    &__title {
        font-size: 18px;
        font-family: variable.$ff-en; 
    }

    &__sns{
        width: 24px; 
        img{
            width: 100%;
        }
    }

}


.menu_btn {
    /*はじめは非表示に*/
    display: none;
    /*ボタンの位置*/
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 999;
    /*ボタンの形状*/
    cursor: pointer;
    width: 34px;
    height: 21px;
    transition: all 1s;
    
    span {
        display: inline-block;
        position: absolute;
        // left: 14;
        width: 100%;
        height: 1px;
        background: variable.$text-color;
        transition: all .4s;

        &:nth-of-type(1) {
            top: 0px;
        }
        
        &:nth-of-type(2) {
            top: 10px;
        }
        
        &:nth-of-type(3) {
            bottom: 0px;
        }
    }

    
    @include media(xl){
        display: block;
    }// 1000pxを下回るとハンバーガーメニューにする
    
}

  // /*activeクラスが付与された後のボタンのアイコン設定*/
.menu_btn::after {
    content: "MENU";
    position: absolute;
    font-size: 11px;
    font-family: variable.$ff-en;
    bottom: -20px;
}

.menu_btn.active::after {
    content: "CLOSE";
    left: -2px;
    font-size: 11px;
    font-family: variable.$ff-en;
}

.menu_btn.active {
    span:nth-of-type(1) {
        transform: translateY(10px) rotate(45deg);
    }

    span:nth-of-type(2) {
        opacity: 0;
    }

    span:nth-of-type(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}


/*fadeDownクラスが付与された後のボタンの出現アニメーション設定*/
.fadeDown {
    animation-name: fadeDownAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: block;
}

@keyframes fadeDownAnime {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


// /*.doneクラスがついたヘッダー*/
// #header.done {
//     opacity: 1; /*透過0にして非表示に*/
// }

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたら*/
#header.done.panelactive {
    opacity: 1; /*不透明にして出現*/
    top: 0;
    left: 0;
    background: variable.$text-color;
}

/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
#header.done .header__nav {
    /*固定位置にして最背面に*/
    position: fixed;
    top: -120%;
    right: 0;
    z-index: -1;
    /*高さと幅*/  
    // width: 100%;
    display: block;
    // justify-content: center;
    // align-items: center;
    text-align: center; 
    // opacity: 0;
    transition: 0.3s;
}

//   *メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
#header.done.panelactive .header__nav {
    top: 0;
    right: 0;
    width: 284px;
    height: 500px;
    padding-top: 70px;
    padding-bottom: 52px;
    opacity: 1; // 不透明に
    z-index: 3; // 最前面に
    background: rgba(255,229,213,0.8);
    border-radius: 0px 0px 20px 20px;
    transition: 0.7s;

    @include media(xl){
        width: 100%;
    }

    @include media(xl){
        width: 100%;
        height: 100vh;
    }


    ul {
        display: block;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }

    li {
        padding: 0;
        margin-bottom: 10px;
    }

    .header__item-logo{
        // margin-top: 65px;
        opacity: 1;
        margin-bottom: 30px;
        img{
            width: 96px;
        }

        @include media(xl){
            display: none;
        }
    }

    br {
        display: none;
    }

    a .header__title {
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 18px;
        font-family: variable.$ff-en;
        transition: all 0.3s;
    }

    a .header__title-ja {
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 11px;
        transition: all 0.3s;
    }

}



