@charset "utf-8";

$breakpoints: (
    'sm': 'screen and (max-width: 560px)',
    'md': 'screen and (max-width: 767px)',
    'lg': 'screen and (max-width: 870px)',
    'xl': 'screen and (max-width: 1000px)',
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// memo
// smはファーストビューのコピー用
// xlはハンバーガーメニューの出し分け