@charset "utf-8";
@use "variable";
@use "btn";
@use "mediaQuery" as *;

/* ------------
Thanksページ
------------- */
.thanksPage .menu_btn{
    display: block;
    margin-top: 18px;
    @include media(xl){
        margin-top: 0;
    }
}
.confirm{
    padding-top: 138px;
    max-width: variable.$width-inner;
    text-align: center;
    margin: 0 auto;

    @include media(md){
        padding-right: 4.26vw;
        padding-left: 4.26vw;
    }

    &__title{
        font-size: 25px;
        font-family: variable.$ff-en;
        color: variable.$dusty-pink;

        @include media(md){
            font-size: 17px;
        }
    }
    &__img{
        padding-top: 30px;
        width: 6%;
        margin: 0 auto;

        img{
            width: 100%;
        }

        @include media(md){
            width: 20%;
        }
    }  
    &__message{
        margin-top: 26px;

        @include media(md){
            font-size: 14px;
            line-height: 1.5;
        }
    }
}

.sns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 92px;
    margin-bottom: 138px;

    @include media(md){
        display: block;
        text-align: center;
    }

    // 吹き出しいれる
    &__img{
        width: 24px;

        &:hover {
            opacity: 0.5;
        }

        
        @include media(md){
            display: block;
            margin: 0 auto;
        }

        img{
            width: 100%;
        }
    }
    &__message{
        line-height: 1.5;

        @include media(md){
            font-size: 13px;
            margin-top: 15px;
        }
    }
}
