@charset "utf-8";
@use "variable";

@use "btn";
@use "mediaQuery" as *;
/* -------------------------------
    Topページ
---------------------------------- */

/* ---------------
ローディング画面
----------------- */

// ローディング
.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFFCF5 0%, rgba(255, 252, 245, 0.6) 100%);


    .is-active {
        opacity: 0;
        visibility: hidden;
    }
}
.loading-screen {
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
    background-color: #FEE4D5;
    }
// #loading p{
//     font-size: 2rem;
    
// }

.loading__container{
    display: block;
    // margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name:fadeInAnime;
    // animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;

    @keyframes fadeInAnime{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    img{
        width: 6vw;
        margin-bottom: 20px;


        @include media(xl){
            width: 10vw;
        }

        @include media(md){
            margin-bottom: 10px;
            width: 20vw;
        }
    }
    p{
        font-size: 2rem;
        font-family: variable.$ff-en;

        @include media(md){
            font-size: 1.5rem;
        }
    }
}

.header-home{
    display: none;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    background: transparent;
    h1{
        position: relative;
        margin-left: 5%;
        z-index: 1;

        @include media(xl){
            width: 121px;
            padding-top: 5px;
            position: relative;
            z-index: 99;
        }
    }

    @include media(xl){
        display:block;
    }
}

/* ---------------
  Topページ/fv
----------------- */

.fv{
    position: relative;
    // 基準となる高さを指定 100％の高さからヘッダーの120px分を引く
    // min-height: calc(100svh - 120px);
    min-height: 100svh;
        video{
        // 基準となる高さを指定 100％の高さからヘッダーの120px分を引く
        position: absolute;
        top: 0;
        left: 50%;
        transform:translateX(-50%);
        width: 100%;
        height: 100%;
        object-fit: cover; 
            @include media(md){
                transform:translateX(-50%);
                width: 100%;
                height: 100%;
                object-fit: cover; 
            }
    }

    &__maincopy{
        position: absolute;
        width: 30rem;
        right: 10%;
        bottom: 8%;
        z-index: 1;

        @include media(xl){
            width: 27rem;
        }
        @include media(md){
            width: 25rem;
            right: 5%;
        }
        @include media(sm){
            width: 19rem;
            right: 5%;
        }

        img {
            width: 100%;
            animation-name:copy-fadeInAnime;
            animation-duration:5s;
            animation-fill-mode:forwards;
            opacity:0;
    
            @keyframes copy-fadeInAnime{
                from {
                    opacity: 0;
                    transform: translateX(80px);
                    // transform: translate3d(0px, 10px, 0px);
                    }
                
                to {
                    opacity: 1;
                    transform: translateX(0);
                    // transform: translate3d(0px, 0px, 0px);
                }
            }
        }
    } 

    &__inner {
    position: absolute;
    text-align: left;  
    top: 0;
    width: 172px;
    padding-top: 60px;
    margin-left: 8%;
    @include media(xl){
        // padding: 0 17px;
        display: none;
    }
    }

    &__item-logo {
        width: 102px;
        margin-bottom: 49px;
        a{
            width: 102px;
            margin-bottom: 49px;
        &:hover {
            width: 100%;
            background: rgba(255, 244, 238, 0.5);
            box-shadow: 1px 1px 30px #FFF4EE;
            border-radius: 40px;
            }
        }
        }

    // &__list{
    //     @include media(xl){
    //         display: none;  
    //     }
    // }
    
    &__item{
            a{
                display: inline-block;
                // width: 90px;
                line-height:1.5;
                padding: 8px;
            &:hover {
                // width: 100%;
                background: rgba(255, 244, 238, 0.5);
                box-shadow: 1px 1px 30px #FFF4EE;
                border-radius: 26px;
                }
            }
        }

    &__title-ja{
    font-size: 11px; 
    letter-spacing: 0.2em;
    }

    &__title{
    font-size: 18px;
    font-family: variable.$ff-en; 
    }

    &__sns{
        margin-top: 10px;
        width: 24px; 
        &:hover {
        opacity: 0.5;
        }
        img{
            margin-top: 14px;
            width: 100%;
        }
    }
}

/*.doneクラスがついたfv*/
.fv__inner.done {
    opacity: 0; /*透過0にして非表示に*/
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたら*/
.fv__inner.done.panelactive {
    opacity: 1; /*不透明にして出現*/
    top: 0;
    left: 0;
    // background: variable.$text-color;
    
    @include media(xl){
        display: block;
    }

}

.fv__nav {
    ul {
        // display: flex;
        // justify-content: center;

        li {
            a {
                display: inline-block;
                margin: 0 auto;
                color: variable.$text-color;
                padding: 8px;
                margin-bottom: 10px;
            }
        }
    }
}

/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
.fv__inner.done .fv__nav {
    /*固定位置にして最背面に*/
    position: fixed;
    top: -120%;
    right: 0;
    z-index: -1;
    /*高さと幅*/  
    // width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; 
    // opacity: 0;
    transition: 0.3s;
}

//   *メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
.fv__inner.done.panelactive .fv__nav {
    top: 0;
    right: 0;
    width: 284px;
    height: 570px;
    padding-bottom: 52px;
    opacity: 1;
    z-index: 3;
    background: rgba(255, 229, 213, 0.8);
    border-radius: 0px 0px 20px 20px;
    transition: 0.7s;

    @include media(xl){
        padding-top: 130px;
        width: 100%;
    }

    ul {
        display: inline-block;
        margin: 0 auto;
    }

    li {
        padding: 0;
        a:hover {
            opacity: 0.5;
            }

            @include media(md){
                display: block;  
            }
    }

    .fv__item-logo{
        padding-top: 70px;
        padding-bottom: 30px;
        margin: 0 auto;
        opacity: 1;
        img{
            width: 96px;
        }
        a:hover {
            opacity: 0.5;
            }

        @include media(xl){
            display: none;
        }
    }

    br {
        display: none;
    }

    a .fv__title {
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 18px;
        font-family: variable.$ff-en;
        transition: all 0.3s;
    }

    a .fv__title-ja {
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 11px;
        transition: all 0.3s;
    }

    @include media(xl){
        display: block;
    }
}

section {
    position: relative;
    z-index: 1;
}
/* ------------------------
    Topページ/lead
--------------------------- */
.lead{
    padding-top: 220px;

    @include media(md){
        padding-top: 120px;
    }

    &__inner{
        max-width: variable.$width-inner;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
        padding: 0 66px;
    
            @include media(md){
                padding: 0 17px;
            }
    }

    &__img{
    position: relative;
    // width: 30%;
    width: 19vw;
        @include media(md){
            display: none;
        }
    }

    &__img img{
        width: 100%;
    }

    &__contents{
        position: relative;
        width:46%;
        text-align: center;
        @include media(md){
            width: 100%;
        }
    }

    .brand__logo img{
        margin-bottom: 14px;
        width: 6vw;

        @include media(lg){
            font-size: 8vw;
        }
        @include media(md){
            width:12vw;
        }
    }

    &__title{
        margin-bottom: 18px;
        // font-size: 25px;
        font-size: 1.7vw;
        color:variable.$dusty-pink;

        @include media(lg){
            font-size: 2vw;
        }

        @include media(md){
            font-size:4vw;
        }
    }

    &__text{
        font-size: 1.2vw;
        line-height:calc(30 / 16);

        @include media(lg){
            font-size: 1.4vw;
        }

        @include media(md){
            padding: 0 17px;
            display: block;
            font-size:3vw;
            letter-spacing: 0.1em;
        }
    }

    .btn-circle{
        margin-top: 50px;
        @include media(md){
            margin-top: 40px;
        }
    }
}
.lead__inner.offs,.offs .lead__contents{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1000ms ease, transform 1000ms ease;
}

.lead__inner.ons,
.ons .lead__contents{
transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
opacity: 1;
transform: translateY(0);
}


/* ------------
works
------------- */
.works{
    padding-top: 323px;

    @include media(md){
        padding-top: 180px;
    }

    &__inner{
        max-width: variable.$width-inner;
        margin: 0 auto;
        padding-right: 1vw;
        padding-left: 1vw;
        }

    &__list{
        display: flex;
        justify-content: space-between;

        @include media(md){
            display: block;
        }
    }

    &__item{
        width: 30%;
        @include media(md){
            width: 100%;
            margin-bottom: 39px;
        }
    }
    &__img{
        position: relative; 
        border-radius: 10px;

        img{
            width: 100%;
            border-radius: 10px;
            transform: scale(1);
            filter: blur(0);
            transition: .3s ease-in-out;
            }
    
        .mask{
            position: relative;
            border-radius: 10px;
            transition: .3s ease-in-out;/*移り変わる速さ*/
            display: block;/*画像をくくるspanタグをブロック要素にする*/
            text-align: center;
            line-height: 0;/*行の高さを0にする*/
            overflow:hidden;/*拡大してはみ出る要素を隠す*/     
            }   

        &:hover img{
            border-radius: 10px;
            transform: scale(1.1);/*拡大の値*/
            }

        & p.caption{
            position: absolute;
            width: 80%;
            opacity:0;
            transition: .5s ease-in-out;/*移り変わる速さ*/
            z-index:3;/*テキストを前面に出す*/
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: variable.$text-color;
            line-height: 1.5;

            & span.title{
                font-size: 18px;
                border-bottom: 2px solid  variable.$dusty-pink;
                padding-bottom: 3px;
            }
            & span{
                font-size: 15px;
                line-height: 1.5;
            }
        }

        &:hover p.caption{
            opacity:1;
            }
    }

    .works__img:hover .mask::before{
        content:"";
        position: absolute;
        border-radius: 10px;
        z-index:2;
        top:10px;
        left:10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background:rgba(255, 255, 255, 0.7);
    }


    &__category{
        display: flex;
        gap: 8px;
        margin-top:12px;
        font-size: 14px;
    } 
    &__label{
        padding: 6px 24px;
        line-height: 1;
        color: variable.$text-color;
        background-color: variable.$cream-beige;
        border: 1px solid variable.$peach-fuzz;
        border-radius: 32px;
    }   
}
.works__item.offs,.offs .works__item{
    opacity: 0;
    transform: translateY(50px);
}

.works__item.ons,
.ons .works__item{
transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
opacity: 1;
transform: translateY(0);
}
/* ------------
skill
------------- */   
.skill{
    padding-top: 205px;

    &__inner{
        max-width: variable.$width-inner;
        padding-right: 1vw;
        padding-left: 1vw;
        margin: 0 auto;
        
            @include media(md){
                padding-right: 4.26vw;
                padding-left: 4.26vw;
            }
        }

    &__list{
        flex-wrap: wrap;
        gap: 54px;
        margin-bottom:50px;

        @include media(md){
            width: 100%;
            margin: 0 auto;
            justify-content: center;
            margin-bottom: 0;
        }
        }
    

    &__item{
        position: relative;
        display: inline-block;
        width: 141px;
        height: 141px;
        margin-left: 3%;
        background-color: variable.$cream-beige;
        border-radius: 48% 52% 56% 44% / 50% 52% 48% 50% ;

        @include media(md){
            margin-left:5%;
            margin-bottom: 25px;
        }
    }

    &__content{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
        }
    
    &__img {
            width: 44px;
            margin: 0 auto;
        }

    &__caption{
        text-align: center;
        margin-top: 8px;
        font-size: 15px;
        }
}

.skill__item.offs,.offs .skill__item{
    opacity: 0;
    transform: translateY(50px);
}

.skill__item.ons,
.ons .skill__item{
transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
opacity: 1;
transform: translateY(0);
}

/* ------------
service
------------- */   

// サービスページと共通のため_common.scssで管理

